<%if @user.errors.any?%>
<div id="error">
  <div class="alert alert-danger">
    入力エラーが<%= @user.errors.count %>件ありました。
  </div>
  <ul>
    <% @user.errors.full_messages.each do |m|%>
     <li><%=m%></li>
    <%end%>
  </ul>
</div>
<%end%>