@import "bootstrap-sprockets";
@import "bootstrap";

// 水平方向の位置
.center{
  text-align:center;
   background-color: #C0C0C0;
}

// 上からの位置
body {
  padding-top: 100px;
}

h1{
  // font-weight: bold;
  text-align:center;
  font-size: 50px;
}

h2{
  // font-weight: bold;
  font-size:medium;
}

.under_top{
  text-align:right;
}

#logo {
  float: left ;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

/* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
  text-align:left;
}

// /* error_messages */

// #error_explanation {
//   color: red;
//   ul {
//     color: red;
//     margin: 0 0 30px 0;
//   }
// }

// .field_with_errors {
//   @extend .has-error;
//   .form-control {
//     color: $state-danger-text;
//   }
// }