/* ユーザー情報テーブル */

.table {
  vertical-align: middle;
  text-align: left;
}

.label {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}


/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

// 入力フォームカラーリング
.form-control{
  background-color: #FFFFAA;
}


/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

.search{
  float: right;
}


//土日カラーリング
.sun{
  color: #FF0000;
}

.sat{
  color: #0000FF;
}